@{
    ViewData["Title"] = "Home Page";
}    
            <!-- LINE CHART -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Telemetry</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                  <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Devices</label>
                  <select class="form-control select2bs4" style="width: 100%;">                   
                  </select>
                </div>               
              </div>             
              <!-- /.col -->
            </div>
            <!-- /.row -->
                <div class="chart">
                  <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- Bootstrap 4 -->

<!-- Page specific script -->
@section Scripts {
    <script>
  $(function () {

     //Initialize Select2 Elements
    //$('.select2').select2()

    //Initialize Select2 Elements
    //$('.select2bs4').select2({
    //  theme: 'bootstrap4'
    //})
    $('.select2bs4').select2({
        ajax: {
            url: '@Url.Action("GetAllDevices")',
            dataType: 'json',
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'                
                return {                    
                    results: data
                };
            }
        }
    });

  $('.select2bs4').on("select2:selecting", function(e) { 
   // what you would like to happen
   //var data = e.params.data; //not the correct way!
   var data1 = e.params.args.data;
   
   //updateData();

   $.ajax({
        url: '@Url.Action("GetAllTelemetryForDevice")',
        type: 'POST',
        dataType: 'json',
        data: { deviceId: data1.text, unitType: data1.unitType},
        success: function(data) {
            //alert(data.labels);
            updateData(data);
        }
   });


  });

    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

   
   
    //var areaChartData = {
    //  labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    //  datasets: [
    //    {
    //      label               : 'Digital Goods',
    //      backgroundColor     : 'rgba(60,141,188,0.9)',
    //      borderColor         : 'rgba(60,141,188,0.8)',
    //      pointRadius          : false,
    //      pointColor          : '#3b8bba',
    //      pointStrokeColor    : 'rgba(60,141,188,1)',
    //      pointHighlightFill  : '#fff',
    //      pointHighlightStroke: 'rgba(60,141,188,1)',
    //      data                : [28, 48, 40, 19, 86, 27, 90]
    //    },
    //    {
    //      label               : 'Electronics',
    //      backgroundColor     : 'rgba(210, 214, 222, 1)',
    //      borderColor         : 'rgba(210, 214, 222, 1)',
    //      pointRadius         : false,
    //      pointColor          : 'rgba(210, 214, 222, 1)',
    //      pointStrokeColor    : '#c1c7d1',
    //      pointHighlightFill  : '#fff',
    //      pointHighlightStroke: 'rgba(220,220,220,1)',
    //      data                : [65, 59, 80, 81, 56, 55, 40]
    //    },
    //  ]
    //}

    var areaChartData = {
      labels  : [],
      datasets: [
        {
          label               : '',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',          
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : []
        },
      ]
    }

    var areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: true
      },
      scales: {
        xAxes: [{                    
          gridLines : {
            display : false,
          },
          scaleLabel: {
            display: true,
            labelString: 'Time'
         },
         type: 'time',
         distribution: 'series',         
        }],        
        yAxes: [{
          gridLines : {
            display : false,
          },
          scaleLabel: {
            display: true,
            labelString: 'Unit'
         },
        }]
      }
    }

    //time: {
    //        tooltipFormat: 'YYYY-MM-dd HH:mm:SS',
    //        displayFormats: {
    //            millisecond: 'HH:mm:ss.SSS',
    //            second: 'HH:mm:ss',
    //            minute: 'HH:mm',
    //            hour: 'HH'
    //        },
    //  },

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
    var lineChartOptions = $.extend(true, {}, areaChartOptions)
    var lineChartData = $.extend(true, {}, areaChartData)
    lineChartData.datasets[0].fill = false;
    //lineChartData.datasets[1].fill = false;
    lineChartOptions.datasetFill = false

    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: lineChartData,
      options: lineChartOptions
    })

    function updateData11() {
        data2 = {
            
        };
        lineChart.data.labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September'];
        lineChart.data.datasets[0].data = [28, 48, 40, 19, 86, 27, 90, 120, 8];
        lineChart.data.datasets[0].label = 'My device';
        lineChart.update();
    }

    function updateData(data) {
        lineChart.data.labels = data.labels;
        lineChart.data.datasets[0].data = data.data;
        lineChart.data.datasets[0].label = data.device;
        lineChart.options.scales.yAxes[0].scaleLabel.labelString = data.unitType;
        lineChart.update();
    }


    })
</script>
}              
